.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-task-section,
  .show-task-section {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .show-task-section {
    margin-top: 40px;
  }
  