.show-task-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .task {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  
    h3 {
      margin-top: 0;
    }
  
    p {
      margin: 5px 0;
    }
  
    strong {
      font-weight: bold;
    }
  }
  
  .no-tasks {
    margin-top: 20px;
    text-align: center;
    color: #999;
  }
  